streamlit
streamlit_oauth
streamlit-cookies-controller
openai
langchain_openai
langchain_pinecone
langchain_experimental
langchainhub
pinecone-client
PyMuPDF
langchain
pandas-datareader
numpy
numexpr
matplotlib
ipywidgets
tqdm
ipykernel
PyYAML